[submodule "public"] 
  path = ./public
  url = git@github.com:happyhappy-jun/happyhappy-jun.github.io.git

[submodule "./themes/PaperMod"]
  path = ./themes/PaperMod
  url = git@github.com:adityatelange/hugo-PaperMod.git
